@model List<TechTestToDoList.POCO.ViewModels.TaskListViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-3">
        <h2 class="col-lg-12">To Do List</h2>

        <div class="col-lg-12 list-group" id="StoreTaskList">
            @foreach (var item in Model)
            {
                <button type="button" class="list-group-item list-group-item-action taskList" data-id="@item.Id" data-name="@item.Name">
                    @item.Name
                </button>
            }
        </div>
        <div class="col-lg-12">
            <br />
            <a href="#" class="action" id="addTaskList">
                <span class="glyphicon glyphicon-plus-sign" style="margin-right:10px;"></span><label>Add Task List</label>
            </a>
        </div>
        <div id="newList" hidden class="col-lg-12">
            <input class="form-control" name="Title" id="newListName" placeholder="Type a name for your list" />
            <div class="col-lg-12" style="margin-top:10px;">
                <button class="btn btn-primary" id="AddNewList">Add new List</button>
                <button class="btn btn-default" id="CancelNewList">Cancel</button>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <h2 id="listName">Tasks</h2>
        <div class="col-lg-12" id="Tasks"></div>

    </div>

</div>

@section scripts{

    <script>
        $(document).ready(function () {

            $("#addTaskList").click(function (e) {
                e.preventDefault();
                $(this).hide();
                $("#newList").show();
            });

            $("#AddNewList").click(function () {
                $.ajax({
                    type: "post",
                    url: "/Home/AddTaskList",
                    data: { "Name": $("#newListName").val() },
                    success: function (data) {
                        if (data > 0) {
                            $("#StoreTaskList").append('<div class="taskList" data-id="' + data + '" data-name="' + $("#newListName").val() + '">' + $("#newListName").val() + '</div>');
                            addEventtaskList();
                        }
                    }
                });
            });

            $("#CancelNewList").click(function () {
                $("#newList").hide();
                $("#addTaskList").show();
            });

            addEventtaskList();

            $("#updateTask").click(function () {
                $.ajax({
                    type: "post",
                    url: "/Home/UpdateTask",
                    data: { "Id": $("#TaskId").val(), "Title": $("#Tasktitle").val(), "Description": $("#Taskdescription").val(), "Checked": $("#Taskcheck")[0].checked },
                    success: function (data) {
                        $("#modalTask").modal('hide');
                        $(".taskList[data-id='" + data + "']").click();
                    }
                });

            });

        });

        function addEventtaskList() {
            $(".taskList").unbind("click").click(function () {
                $(".taskList").each(function () {
                    $(this).removeClass("active");
                });
                $(this).addClass("active");
                var listId = $(this).data("id");
                var listName = $(this).data("name");
                $.ajax({
                    type: "post",
                    url: "/Home/GetTasks",
                    data: { "ListId": listId },
                    success: function (data) {
                        $("#listName").html(listName);
                        $("#Tasks").html(data);
                        $("#newTaskTitle").data("listid", listId);
                        addEventTask();
                    }
                });
            });
        }

        function addEventTask() {
            $("#addTask").unbind("click").click(function (e) {
                e.preventDefault();
                $(this).hide();
                $("#newTask").show();
            });

            $("#AddnewTask").unbind("click").click(function () {
                $.ajax({
                    type: "post",
                    url: "/Home/AddTask",
                    data: { "Name": $("#newTaskTitle").val(), "ListId": $("#newTaskTitle").data("listid") },
                    success: function (data) {
                        if (data > 0) {
                            $("#storeTask").append('<div class="task" data-id="' + data + '" data-name="' + $("#newTaskTitle").val() + '">' + $("#newTaskTitle").val() + '</div>');
                            addEventTask();
                        }
                    }
                });
            });

            $("#CancelnewTask").unbind("click").click(function () {
                $("#newTask").hide();
                $("#addTask").show();
            });

            $(".task").unbind("click").click(function () {
                var id = $(this).data("id");
                var name = $(this).data("name");

                $.ajax({
                    type: "post",
                    url: "/Home/GetTask",
                    data: { "Id": id },
                    success: function (data) {
                        $("#modalUpdate").html(data);
                        $("#modaltitle").html("Update Task - " + name);
                        $("#modalTask").modal();
                    }
                });
            });

            $(".checkTask").unbind("change").change(function () {
                var id = $(this).data("id");
                $.ajax({
                    type: "post",
                    url: "/Home/CheckTask",
                    data: { "Id": id },
                    success: function (data) {
                        if (data == true) {
                            $("#" + id).addClass("checked");
                        } else {
                            $("#" + id).removeClass("checked");
                        }
                    }
                });
            });


        }
    </script>

}

<div class="modal" id="modalTask">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modaltitle">Update Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalUpdate">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="updateTask">Save changes</button>
            </div>
        </div>
    </div>
</div>